<mat-toolbar color="primary">
  <ng-container *ngIf="(isHandset$ | async)">
    <button mat-icon-button aria-label="Toggle Side Navigation" (click)="drawer.toggle()">
      <mat-icon aria-label="Toggle Side Navigation Icon">menu</mat-icon>
    </button>
  </ng-container>
  <span class="title">Angular Material 2 App</span>
  <ng-container *ngIf="!(isHandset$ | async)">
    <span class="spacer"></span>
    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </ng-container>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer>
    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-drawer>
  <mat-drawer-content>
    <main>
      <span class="centered">Content Here!</span>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
